PORT=9000
PUBLISHING_HMAC_SECRET=replace-in-catalyst-environment
INTERNAL_JOB_SECRET=replace-in-catalyst-environment
GD_STRATUS_PRIVATE_BUCKET=genedrift-publishing-private
GD_STRATUS_PUBLIC_BUCKET=genedrift-publishing-public
GD_STRATUS_PUBLIC_BASE_URL=https://replace-with-public-bucket-url
PUBLIC_SITE_BASE_URL=https://replace-with-public-site-url
GD_JOBPOOL_NAME=genedrift-publishing
GD_APPSAIL_NAME=genedrift-publishing
GD_APPSAIL_BASE_URL=https://replace-with-appsail-url
GD_APPSAIL_JOB_PATH=/internal/jobs/publish
GD_APPSAIL_CALLBACK_PATH=/internal/jobs/callback
CREATOR_CALLBACK_URL=https://www.zohoapis.in/creator/custom/OWNER/record_catalyst_publication_result
CREATOR_VALIDATE_URL=https://www.zohoapis.in/creator/custom/OWNER/validate_catalyst_publication_request
CREATOR_API_BASE_URL=https://www.zohoapis.in
CREATOR_ACCOUNT_OWNER=replace-with-creator-owner
CREATOR_APP_LINK_NAME=genedrift-editorial-platform
CREATOR_MEDIA_REPORT_LINK_NAME=Media_Assets_Report
CREATOR_MEDIA_FILE_FIELD_LINK_NAME=Draft_File
CREATOR_ENVIRONMENT=production
CREATOR_CONNECTION_NAME=genedrift_creator_callback
CREATOR_OAUTH_CLIENT_ID=
CREATOR_OAUTH_CLIENT_SECRET=
CREATOR_OAUTH_REFRESH_TOKEN=
CREATOR_OAUTH_TOKEN_URL=https://accounts.zoho.in/oauth/v2/token
CREATOR_OAUTH_TOKEN=
CALLBACK_MAX_ATTEMPTS=8
CALLBACK_BASE_DELAY_MS=60000
CALLBACK_MAX_DELAY_MS=3600000
PUBLISH_MAX_ATTEMPTS=5
PUBLISH_BASE_DELAY_MS=60000
PUBLISH_MAX_DELAY_MS=1800000
REQUEST_CLOCK_SKEW_SECONDS=300
LEASE_DURATION_MS=300000
POINTER_CAS_ATTEMPTS=8
MAX_MEDIA_BYTES=10485760
